@import '../../../../variables';

.list__item {
    list-style: none;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    color: $gray;

    img {
        width: 4.375rem;
        height: 4.375rem;
        margin-right: 5.25rem;
    }

    p {
        font-size: $textSize;
    }
}

@media (max-width: 600px) {
    .template{
        &__lists {
            padding: 0 4.7rem 0 5.1rem;

        }
    }

}