.row {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin-right: -15px;
    margin-left: -15px;
}

.row-align {
    align-items: center;
} 

.row-just {
    justify-content: space-between;
}