@import '../../../_variables.scss';


.services {
    margin-top: 28.25rem;

    .title-style {
        &:before {
          left: 50%;
          transform: translateX(-50%);
        }
    }
}

.services-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-top: 14.125rem;
}

.services-text-wrap {
    text-align: center;
}

@media (max-width: 600px) {

    .services{
        margin-top: 22rem;

        .services-wrap {
            display: block;
            margin-top: 7rem;
        }
    
        .services-text-wrap {
            text-align: left;
            padding: 0 4.7rem 0 5.1rem;
        }

        .title-style {
            font-size: 2rem;

            &:before {
              left: 16%;
            }
        }

        .service-title {
            .title {
                text-align: center;
                margin: 0;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.5rem;
            }

            .text {
                display: none;
            }
        }
    }

    .slick-dots li button:before {
        color: #fff;
        transition: all 0.2s ease;
    }
    .slick-dots li.slick-active button:before {
        color: #fff;
        opacity: 1;
        transform: scale(1.5);
    }
}
  