@import '../../../../variables';

.stages {
    margin-bottom: 15rem;

    .subtitle {
        margin-bottom: 3.0625rem;
    }

    .text {
        margin-bottom: 8.3125rem;
        width: 50%;
    }

    &__wrap {
        display: flex;
        list-style: none;
    }
}

.stage {
    position: relative;
    &__circle {
        display: block;
        position: relative;
        width: 2rem;
        height: 2rem; 
        border: 1px solid $main;
        box-sizing: border-box;
        border-radius: 50%;
        margin-right: 16.0625rem;

        &::after {
            position: absolute;
            display: inline-block;
            content: '';
            width: 16.125rem;
            height: 2px;
            background-color: $main;
            top: 50%;
            left: 1.9375rem;
            transform: translateY(-50%);
        }
    }

    &__text {
        position: absolute;
        bottom: -2.625rem;
        color: $light;
    }

    &:nth-last-child(1) {
        .stage__circle {
            margin-right: 0;

            &::after {
                display: none;
            }
        }

        .stage__text {
            right: 0;
        }
    }
}

.active {
    .stage__circle {
        &::before {
            position: absolute;
            content: '';
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            left: -2px;
            top: -2px;
            border: 1px solid $main;
            animation: anim-in 0.25s ease forwards 1s;
        }
    }

    &:nth-child(1) {
        .stage__circle {
            &::before {
                animation: none 0.25s ease forwards 1s;
                background-color: $main;
            }
        }
    }
}

.out {
    .stage__circle {
        &::before {
            position: absolute;
            content: '';
            background-color: $main;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            left: -2px;
            top: -2px;
            border: 1px solid $main;
            animation: anim-out 0.25s ease forwards;
        }
    }
}

@keyframes anim-in { 
    0% {
        top: 50%;
        transform: translateY(-50%);
        left: -6rem;
        height: 0rem;
        width: 5rem;
    }
    20% {
        top: 50%;
        transform: translateY(-50%);
        left: -3rem;
        height: 0.05rem;
        width: 3rem;
    }
    40% {
        top: 50%;
        transform: translateY(-50%);
        height: 0.08rem;
        width: 1rem;
        left: -1.7rem;
    }
    60% {
        top: 50%;
        transform: translateY(-50%);
        height: 0.4rem;
        width: 0.9rem;
        left: -0.8rem;
    }
    80% {
        top: 50%;
        transform: translateY(-50%);
        left: -0.2rem;
        height: 1rem;
        width: 1.8rem;
        border-radius: 100%;
    }
    100% {
        left: -0;
        top: 50%;
        transform: translateY(-50%);
        height: 2rem;
        width: 2rem;
        background-color: $main;
    }
}

@keyframes anim-out { 
    0% {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 2rem;
        width: 2rem;
        background-color: $main;
    }
    20% {
        top: 50%;
        transform: translateY(-50%);
        left: 0.5rem;
        height: 0.6rem;
        width: 1.8rem;
        border-radius: 100%;
    }
    40% {
        top: 50%;
        transform: translateY(-50%);
        left: 1rem;
        height: 0.1rem;
        width: 2rem;
        border-radius: 100%;
    }
    60% {
        top: 50%;
        transform: translateY(-50%);
        height: 0.07rem;
        width: 2.2rem;
        left: 1.5rem;
    }
    80% {
        top: 50%;
        transform: translateY(-50%);
        left: 2rem;
        height: 0.04rem;
        width: 2.4rem;
    }
    100% {
        top: 50%;
        transform: translateY(-50%);
        left: 3rem;
        height: 0.001rem;
        width: 3rem;
    }
}

@media (max-width: 600px) {
    .stage {
        position: relative;
        &__circle {
            margin-right: 8.0625rem;
    
            &::after {
                width: 8.125rem;
            }
        }
    }
}