$light: #ffffff;
$green: #28a745;
$darkGreen: #218838;
$red: #dc3545;
$darkRed: #c82333;
$black: #000;
$dark: #111111;
$gray: #808080;
$main: #F0C731;
$darkMain: rgb(212, 176, 42);
$textSize: 1.5rem;
