@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&display=swap&subset=cyrillic');

html, body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

#root {
  height: 100%;
}
