@import '../../../_variables.scss';

.menu {
    position: fixed;
    width: 100%;
    background-color: $black;
    z-index: 100;

    &__wrap-left {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;

    }
}

.container-app {
    .burger-menu_btn {
        display: none;
    }
}

@media (max-width: 900px) {
    .menu {
        max-width: 900px;
        width: 100%;
    }

    .container-app {
        position: relative;

        .logo {
            margin-right: 0;
        }

        .menu {
            &__wrap-left {
                width: 100%;
            }
        }
    
        .nav__list {
            display: flex;
            justify-content: space-between;
            position: absolute;
            top: 4.25rem;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 0.2s ease;
            pointer-events: none;
        }

        .nav__list_show {
            opacity: 1;
            pointer-events: all;
        }

        .nav__item {
            margin-right: 3rem;
            margin-left: 4rem;
        }

        .burger-menu_btn {
            display: block;
            width: 3.125rem;
            height: 3.125rem;
            background: $black;
            position: relative;
            cursor: pointer;
        }
    
        .burger-menu_btn span,
        .burger-menu_btn span::before,
        .burger-menu_btn span::after {
            position: absolute;
            top: 50%; margin-top: -0.0625rem;
            left: 50%; margin-left: -0.9375rem;
            width: 1.875rem;
            height: 0.125rem;
            background-color: $light;
        }
    
        .burger-menu_btn span::before,
        .burger-menu_btn span::after {
            content: '';
            display: block;
            transition: 0.2s ease;
        }
    
        .burger-menu_btn span::before {
            transform: translateY(-0.625rem);
        }
    
        .burger-menu_btn span::after {
            transform: translateY(0.625rem);
        }

        .burger-menu_btn_active span {
            position: absolute;
        }
    
        .burger-menu_btn_active span::before {
            transform: translateY(0);
    
        } 
        
        .burger-menu_btn_active span::after {
            transform: translateY(0);
    
        } 
    }
} 

@media (max-width: 600px) {
    .container-app {
        position: relative;
        .nav__list {
            display: flex;
            justify-content: space-around;
            position: absolute;
            top: 4.25rem;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 0.2s ease;
            pointer-events: none;
        }
        .nav__list_show {
            opacity: 1;
            pointer-events: all;
        }
        .nav__item {
            margin-left: 0;
            margin-right: 0;
        }
    }
}