@import '../../../variables';

button, 
button:active, 
button:focus {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.btn {
    border-radius: 2.25rem;
    min-height: 1.875rem;
    border: none;
    padding: 1.625rem 5.1rem;
    font-weight: bold;
    font-size: $textSize;
    line-height: 1.25rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

// Size
.btn_size-small {
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
}

.btn_size-medium {
    font-size: $textSize;
    padding: 0.375rem 0.75rem;
}

.btn_size-large {
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
}

.btn_size-elastic {
    width: 100%;
}

// Theme
.btn_theme-main {
    background-color: $main;
    color: $black;

    &:hover, &:focus {
        background-color: #FFE278;
        color: $black;
    }
    
    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
    }

    &.btn_positive {
        background-color: $green;
    
        &:hover, &:focus {
            background-color: $darkGreen;
        }
    }

    &.btn_negative {
        background-color: $red;
    
        &:hover, &:focus {
            background-color: $darkRed;
        }
    }

    // &.btn_info {
    //     background-color: $blue;
    
    //     &:hover, &:focus {
    //         background-color: $darkBlue;
    //     }
    // }

    &.btn_dark {
        background-color: $black;
    
        &:hover, &:focus {
            background-color: $dark;
        }
    }
}

.btn_theme-clear {
    background-color: $light;
    color: $main;
    border: 1px solid $main;

    &:hover, &:focus {
        background-color: $main;
        color: $light;
    }
    
    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
    }

    &.btn_positive {
        color: $green;
        border-color: $green;
    
        &:hover, &:focus {
            background-color: $green;
            color: $light;
        }
    }

    &.btn_negative {
        color: $red;
        border-color: $red;
    
        &:hover, &:focus {
            background-color: $red;
            color: $light;
        }
    }

    // &.btn_info {
    //     color: $blue;
    //     border-color: $blue;
    
    //     &:hover, &:focus {
    //         background-color: $blue;
    //         color: $light;
    //     }
    // }
}

@media (max-width: 600px) {
    .btn {
        padding: 1.25rem 3.75rem;
    }
}