.container-fluid {
    width: 100%;
    height: 100%;
}

.container {
    margin: 0 auto;
    height: 100%;
}

.container-app {
    max-width: 1840px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

@media (min-width: 320px) {
    .container, .container-app {
        max-width: 100%;
        width: 100%;
    }
}

@media (min-width: 1000px) {
    .container {
        max-width: 92.1875rem;
    }
}

@media (min-width: 1920px) {
    .container {
        max-width: 1475px;
    }
}
