@import '../../../_variables.scss';

@media (max-width: 600px) {
    .dropmenu {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        top: 8.5rem;
        left: 8.2rem;
    }

    .dropmenu__list {
        background-color: $black;
        line-height: 3.125rem;
        list-style: none;
    }

    .dropmenu__link {
        display: block;
        color: $light;
        font-weight: bold;
        font-size: 0.8125rem;
        line-height: 1rem;
        padding: 0.875rem 2rem;
        opacity: 0.75;
        text-transform: uppercase;
        transition: opacity 0.25s ease;

        &:hover, &.active {
            opacity: 1;
        }
    }

    .dropmenu__link.active {
        background-color: $main;
    }
}