@import '../../../_variables.scss';

.home {
  .header__img img {
    transform: scale(1);
    margin-top: 7rem;
  }
}

.example-enter {
    opacity: 0.01;
    transform: translateY(50%);
  }
  
  .example-enter.example-enter-active {
    opacity: 1;
    transform: translateY(0%);
    transition: all 500ms ease-in;
  }
  
  .example-leave {
    opacity: 1;
  }
  
  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: all 300ms ease-in;
  }

  .example-appear {
    opacity: 0.01;
  }
  
  .example-appear.example-appear-active {
    opacity: 1;
    transition: all .5s ease-in;
  }

.home-block-wrap {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin-top: 15.5rem;

  .title {
    width: 100%;
    font-size: 2.25rem;
    line-height: 1.3;
  }

  .text {
    width: 75%;
    font-size: 1.5rem;
    line-height: 1.3;
  }
}  

.home-text-wrap {
  width: 45%;
}

.home-img-wrap {
  width: 35%;
  img {
      max-width: 100%;
      transform: scale(1.83);
  }
}

.label-text {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #505050;
}

.title-style {
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.6875rem;
  margin-top: 1rem;
  position: relative;

  &:before {
    content: ' ';
    position: absolute;
    height: 3px;
    width: 6.5625rem;
    background-color: $main;
    bottom: -1.5625rem;
  }
}

.text-style {
  font-size: $textSize;
  line-height: 1.5125rem;
  color: #808080;
  margin-top: 3.5625rem;
}

@media (max-width: 900px) {
  .home {
    padding: 0 4.7rem 0 5.1rem;
    .header__img img {
      transform: scale(1.3);
      margin-top: 7rem;
    }
  }
  .home-block-wrap {
    flex-direction: column;
    margin-top: 5rem;
  }
  .home-text-wrap {
    width: 45%;
  }
  .home-img-wrap {
    margin-top: 25rem;
    img {
      max-width: 100%;
      transform: scale(1.83);
    }
  }
}

@media (max-width: 600px) {
  .home {
    padding: 0;
    .header__img img {
      margin-top: 0;
      transform: scale(1.2);
    }

    &-block-wrap {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 0;

      .home-text-wrap {
        width: 69%;
      }

      .title-style {
        font-size: 2rem;
      }

      .text-style {
        font-size: 0.83rem;
      }

      .home-img-wrap {
        margin-top: 13.5rem;
        transform: scale(1.6);
      }
    }
  }
}
