.perspective-anim {
    display: block;
    perspective: 2000px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: transform 0.1s ease;
    pointer-events: none;
}