@import '../../../variables.scss';

.header {
    height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;

    &__content {
        width: 50%;
    }

    &__img {
        width: 50%;
        perspective: 2000px;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
        img {
            max-width: 100%;
            transform: scale(1.58);
        }
    }

    & .title {
        font-weight: bold;
        font-size: 6rem;
        line-height: 1;
        letter-spacing: 0.02em;
        margin-bottom: 3rem;

        color: $light;
    }

    & .subtitle {
        font-weight: normal;
        font-size: 2.25rem;
        margin-bottom: 3rem;
        color: $light;
    }

    & .text {
        max-width: 30.25rem;
        font-weight: $textSize;
        line-height: 1.8125rem;
        margin-bottom: 3rem;
        color: $gray;
    }

    &__video {
        width: 100%;
    }
}

@media (max-width: 900px) {
    .header {
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .header {
        padding: 0 4.7rem 0 5.1rem;

        &__content {
            width: 100%;
            margin-top: 3.25rem;
        }

        .title {
            font-size: 3rem;
            margin-bottom: 0.5rem;
        }

        .subtitle {
            font-size: 1.083rem;
            margin-bottom: 0.66rem;
        }

        .text {
            font-size: 0.83rem;
            line-height: 1rem;
            width: 80%;
            margin-bottom: 4.33rem;
        }

        &__img {
            width: 100%;
            margin-top: 6rem;
        }
    }
}

@media (min-width: 1920px) {
    .header {
        & .title {
            font-size: 90px;
            margin-bottom: 48px;
        }

        & .subtitle {
            font-size: 36px;
            margin-bottom: 48px;
        }

        & .text {
            max-width: 484px;
            font-size: 24px;
            margin-bottom: 48px;
            line-height: 29px;
        }
    }
}