.col {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@for $i from 1 through 12 {
    .col-#{$i} {
        width: ((100% * $i) / 12);
    }
}
