@import '../../../variables.scss';

@media (max-width: 600px) {

    .arrow-4 {
        position: relative;
        cursor: pointer;
        margin-right: 20px;
        width: 22px;
        height: 10px;
    }
    .arrow-4-left {
        position: absolute;
        background-color: transparent;
        top: -1.583rem;
        left: 4.1666rem;
        width: 8px;
        height: 3px;
        display: block;
        transform: rotate(35deg);
        float: right;
        border-radius: 2px;
    }
    .arrow-4-left:after {
        content: "";
        background-color: $light;
        width: 8px;
        height: 3px;
        display: block;
        float: right;
        border-radius: 6px 10px 10px 6px;
        transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
        z-index: -1;
    }
    
    .arrow-4-right {
        position: absolute;
        background-color: transparent;
        top: -1.583rem;
        left: 4.6rem;
        width: 8px;
        height: 3px;
        display: block;
        transform: rotate(-35deg);
        float: right;
        border-radius: 2px;
    }
    .arrow-4-right:after {
        content: "";
        background-color: $light;
        width: 8px;
        height: 3px;
        display: block;
        float: right;
        border-radius: 10px 6px 6px 10px;
        transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
        z-index: -1;
    }
    .open .arrow-4-left:after {
        transform-origin: center center;
        transform: rotate(-70deg);
    }
    .open .arrow-4-right:after {
        transform-origin: center center;
        transform: rotate(70deg);
    }
}