@import '../../../variables';

.input__field {
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    color: $gray;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    /* width: 50%; */
    line-height: 1.5;
    padding-bottom: 0.6rem;
    border: none;
    border-bottom: 1px solid $light;
    transition: all 0.5s ease-in-out;
    outline: none;
    font-weight: 500;
    font-size: $textSize;
    line-height: 1.8125rem;
    resize: none !important;
}