@import '../../../../_variables.scss';

.service {
    display: block;
    width: 30.25rem;
    height: 25.875rem;
    position: relative;
    margin-right: 0.625rem;
    margin-top: 0.625rem;
    transition: transform 0.25s ease;
    z-index: 1;

    &:hover {
        transform: scale(1.05);
        z-index: 2;
    }

    &-title {
        position: absolute;
        width: 100%;
        height: 10rem;
        background-color: #1f1f1f;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &:nth-child(3n+3), &:nth-last-child(1) {
        margin-right: 0;
    }

    &:nth-child(-n+3) {
        margin-top: 0;
    }

    &:nth-last-child(1) {
        margin-right: 0;
    }

    &__img {
        width: 100%;
        height: 95%;
    }
}

.titleStyle {
    font-weight: bold;
    font-size: $textSize;
    line-height: 1.3125rem;
    margin-top: 1.75rem;
    margin-left: 2.5rem;
}

.textStyle {
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.8125rem;
    margin-left: 2.5rem;
    margin-bottom: 1.25rem;
    color: $main;
}

@media (max-width: 900px) {
    .service {
        margin-right: 9.625rem;
        margin-top: 1.5rem;
    }
}

@media (max-width: 600px) {
    .service {
        margin-right: .6rem;
        margin-left: .6rem;
    }
}