@import '../../../_variables.scss';

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1.625rem;
}

.nav__list {
    background-color: $black;
    line-height: 3.125rem;
}

.nav__item {
    display: inline-block;
    margin-right: 2.5625rem;

    &:nth-last-child(1) {
        margin-right: 0;
    }
}

.nav__link {
    color: $light;
    font-weight: bold;
    font-size: 0.8125rem;
    line-height: 1rem;
    opacity: 0.75;
    text-transform: uppercase;
    transition: opacity 0.25s ease;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &:hover, &.active {
        opacity: 1;
    }
}

.nav__link-active {
    opacity: 1;
}

@media (min-width: 1920px) {
    .nav {
        padding-right: 0;
    }
}
