@import '../../../variables';

.footer {
    flex: 0 0 auto;
    width: 100%;
    position: relative;
    z-index: 1;

    &__bottom {
        background-color: $main;
        width: 100%;
        padding: 8.875rem 0 0 0;

        .footer__text-wrap {
            display: flex;
            flex-direction: column;
            margin-bottom: 4.9375rem;
        }

        .text, a {
            display: inline-block;
            color: $black;
            font-style: normal;
            font-weight: 500;
            font-size: $textSize;
            line-height: 1.5;
            margin-bottom: 1rem;
        }

        a {
            margin-bottom: 0;
            margin-top: 0;
        }

        .social {
            width: 3.375rem;
            height: 3.375rem;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .footer__social-wrap {
            flex-direction: row;
        }

        .social {
            margin-right: 2.25rem;
        }

        .inst {
            background-image: url('../../../core-img/footer/inst.svg');
        }
        .telegram {
            background-image: url('../../../core-img/footer/telegram.svg');
        }
    }
}

@media (max-width: 600px) {
    .footer__wrap {
        padding-left: 3.75rem;
        padding-right: 3.333rem;
    }
}
