@import '../../../variables';

.brif {
    margin-top: 16.8125rem;
    margin-bottom: 16.375rem;
}

.brif__title-style {
    font-weight: bold;
    font-size: 3rem;
    line-height: 3.6875rem;
    color: $light;
    margin-bottom: 1.375rem;
}

.brif__subtitle-style {
    font-weight: normal;
    font-size: 2.25rem;
    line-height: 2.75rem;
    color: $light;
    margin-bottom: 1.8125rem;
}

.brif__text-style {
    margin-bottom: 1.375rem;
}

.brif__tel {
    display: block;
    font-weight: normal;
    font-size: $textSize;
    line-height: 1.8125rem;
    margin-bottom: 7.625rem;
    color: $light;
}

.brif__checkboxes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 12.5rem;

    &:nth-last-child(2) {
        margin-right: 6.25rem;
    }

    .checkbox {
        margin-bottom: 1rem;
    }
}

.brif__radio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 7.125rem;
}

.brif__wrap {
    display: flex;
    align-items: flex-start;
    margin-left: -2.5rem;
    margin-bottom: 6.25rem;
}

.brif__inputs {
    margin-left: 0;
    flex-wrap: wrap;

    .input__field {
        margin-right: 10rem;
        margin-bottom: 1.875rem;
    }
}

.brif__button {
    display: flex;
    align-items: center;

    .btn {
        margin-right: 3.625rem;
    }

    .brif-button__text {
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.0625rem;
        color: $gray;
        width: 20%;
    }
}

@media (max-width: 900px) {
    .brif {
      padding: 0 4.7rem 0 5.1rem;
    }
}

@media (max-width: 600px) {
    .brif {
        padding: 0 4.7rem 0 5.1rem;
        margin-top: 12rem;
        margin-bottom: 6rem;

        &__title-style {
           font-size: 2rem;
       }

        &__subtitle-style {
           font-size: 1.5rem;
       }

        &__text-style, &__tel, .checkbox__text, .radio__text, .input__field {
           font-size: 1.25rem;
        }

        &__tel {
           margin-top: 2rem;
           margin-bottom: 4rem;
       }

        &__wrap {
           flex-direction: column;
           margin-bottom: 3rem;
       }

        .input__field {
            width: 100%;
            margin-right: 0;
        }

        &__button {
            flex-direction: column;
            align-items: start;
        }

        .brif-button__text {
            margin-top: 2rem;
            width: 100%;
        }
    }
}