@import '../../../_variables.scss';

.logo {
    display: flex;
    align-items: center;
    padding: 1.1875rem 0;
    padding-left: 1.625rem;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    img {
        width: 13%;
    }

    h3 {
        color: $light;
        margin-left: 0.625rem;
        font-weight: bold;
        font-size: 1.125rem;
        width: 100%;
    }
}

@media (min-width: 1920px) {
    .logo {
        padding-left: 0;
    }
}
