.template {
    &__lists {
        .subtitle, .list__item {
            margin-bottom: 3.25rem;
        }
    }
}


@media (max-width: 900px) {
    .template{
        .header__img img {
            margin-top: 8rem;
            transform: scale(1.4);
        }

        .lists {
            padding: 0 4.7rem 0 5.1rem;
        }
    }
}

@media (max-width: 600px) {
    .template{
        .header__img img {
            margin-top: 0;
        }
        .stages__lists {
            padding: 0 4.7rem 0 5.1rem;
            margin-top: 6rem;

            .stages {
                margin-bottom: 12rem;
                .text {
                    width: 100%;
                }
            }

        }

        .lists {
            padding: 0;
        }

        &__lists {
            padding: 0 4.7rem 0 5.1rem;

        }

        .subtitle {
            font-size: 1.5rem;
        }

        .list__item {
            &:nth-last-child(1) {
                margin-bottom: 0;
            }

            p {
                font-size: 0.83rem;
            }
        }
    }

}