// @font-face {
//     font-family: 'helveticaneuebold';
//     src: url('../fonts/helvetica_neu_bold-webfont.woff2') format('woff2'),
//     url('../fonts/helvetica_neu_bold-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'helveticaneuemedium';
//     src: url('../fonts/helveticaneue_medium-webfont.woff2') format('woff2'),
//     url('../fonts/helveticaneue_medium-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

@import '../_variables.scss';

* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.83vw;
    height: 100%;
    background-color: $black;
}

p {
    font-size: $textSize;
    color: $gray;
}

a {
    text-decoration: none;
}


h1, h2, h3, h4, h5, h6 {
    line-height: 1.3;
    font-weight: 400;
    color: $light;
}

.wrap {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

@media (min-width: 1920px) {
    html, body {
        font-size: 100%;
    }
}

@media (max-width: 600px) {
    html, body {
        font-size: 3.2vw;
    }
}

