@import '../../../variables.scss';

.loader {
    display: flex;
    justify-content: center;
    margin: .5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 5rem;
    height: 5rem;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: .5rem;
    width: 1rem;
    background: $main;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: .5rem;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 2rem;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 3.5rem;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: .5rem;
      height: 4rem;
    }
    50%, 100% {
      top: 1.5rem;
      height: 2rem;
    }
  }
  