@import '../../../variables';

.radio {
    display: flex;
    position: relative;
    margin-bottom: 1rem;

    input {
        width: 0;
        position: absolute;
    }

    &__text {
        cursor: pointer;
        padding: 0.625rem 2.5rem;
        font-weight: 500;
        font-size: $textSize;
        line-height: 1;
        border-radius: 2.25rem;
        transition: color 0.2s ease, background-color 0.2s ease;
        -ms-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        white-space: nowrap;

        color: $gray;

        &:hover {
            color: $light
        }
    }

    input:checked + .radio__text {
        color: $black;
        background-color: $main;
    }
}