@import '../../../variables.scss';

.about {
    &__get-up {
        margin-top: 15.9375rem;

        .subtitle {
            margin-bottom: 1rem;
        }

        .text {
            width: 40%;
            margin-bottom: 10.3125rem;
        }

        .img-group {
            img {
                max-width: calc(33% - 0.6875rem);
                margin-right: 0.6875rem;

                &:nth-last-child(1) {
                    margin-right: 0;
                }
            }
        }
    }

    &__behined {
        margin-top: 10.3125rem;

        .subtitle {
            margin-bottom: 1.875rem;
        }

        .text {
            width: 60%;
        }
    }

    &__who-need-help {
        margin-top: 10.3125rem;

        .subtitle {
            margin-bottom: 4.25rem;
        }

        .list__item {
            margin-bottom: 4.4375rem;

            p {
                color: $light;
            }
        }
    }

}

.about {
    position: relative;

    .header {
        justify-content: center;
        &::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 2.875rem;
            bottom: 0;
            left: 0;
            background-image: url('../../../core-img/obschee.png');
            background-position: center;
            background-size: 6%;
            background-color: $main;
            background-repeat: repeat-x;
        }

        &__content, &__img {
            width: 46.09375rem;
        }
    }
}

@media (max-width: 900px) {
    .about {
        .header {
            &::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 2.875rem;
                bottom: 0;
                left: 0;
                background-image: url('../../../core-img/obschee.png');
                background-position: center;
                background-size: 16%;
                background-color: $main;
                background-repeat: repeat-x;
            }
        } 
        &__get-up {
            padding: 0 4.7rem 0 5.1rem;
            position: relative;

            &-subtitle {
                &:before {
                    content: ' ';
                    position: absolute;
                    height: 3px;
                    width: 7.5625rem;
                    background-color: $main;
                    top: 5.55rem;
                }
            }

            &-text {
                margin-top: 7rem;
            }
        }  
    &__behined {
        padding: 0 4.7rem 0 5.1rem;
    }
    &__who-need-help {
        padding: 0 4.7rem 0 5.1rem;
        }
    }
}

@media (max-width: 600px) {
    .about {
        &__header-title-style {
            position: relative;
            &:before {
                content: ' ';
                position: absolute;
                height: 3px;
                width: 6.5625rem;
                background-color: $main;
                top: 9.55rem;
            }
        }    

        &__get-up {
            padding: 0;
            margin-top: 6.33rem;
            position: relative;

            &-subtitle {
                &:before {
                    content: ' ';
                    position: absolute;
                    height: 3px;
                    width: 7.5625rem;
                    background-color: $main;
                    top: 5.55rem;
                }
            }

            &-text {
                margin-top: 4rem;
            }
        }

        &-wrap-title {
            padding: 0 4.7rem 0 5.1rem;
            margin-top: 10rem;

            .subtitle {
                font-size: 1.5rem;
            }

            .text {
                font-size: 0.83rem;
                width: 100%;
                margin-bottom: 7rem;
            }
        }

        position: relative;    
        .header {
            &::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 2.875rem;
                bottom: 0;
                left: 0;
                background-image: url('../../../core-img/obschee.png');
                background-position: center;
                background-size: 36%;
                background-color: $main;
                background-repeat: repeat-x;
            }

            &__content, &__img {
                width: 19rem;
            }
        }

        .img-group {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            img {
                max-width: 100%;
                margin-right: 0;

            }

        }

        &__behined {
            margin-top: 8rem;
    
            .subtitle {
                font-size: 1.5rem;
                margin-bottom: 1.875rem;
            }

            .text {
                font-size: 0.83rem;
            }
        }

        &__who-need-help {
            margin-top: 8rem;
    
            .subtitle {
                font-size: 1.5rem;
                margin-bottom: 8rem;
            }

            .list__item {
                &:nth-last-child(1) {
                    margin-bottom: 0;
                }

                img {
                    width: 3.2rem;
                    height: 3.2rem;
                    margin-right: 3rem;
                }

                p {
                    font-size: 0.83rem;
                }

            }
        }
        &__header-text-style {
            margin-top: 5rem;
            width: 100%;
        }  
    }
}