@import '../../variables';

.scroll-up {
    position: fixed;
    z-index: 100;
    bottom: 60px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    font-size: 18px;
    height: 40px;
    right: 60px;
    text-align: center;
    transition: all 0.4s ease;
    opacity: 1;
}

.scroll-up.hidden {
    opacity: 0;
    pointer-events: none;
}