.tooltip-custom {
    position: relative;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 4px;
    position: absolute;
    z-index: 101;
    font-size: 0.85rem;
}
.tooltip-custom__text {

}
